<h1>Please leave message</h1>
<form action="/comments" method='post'>
	  <div class="col-25">
	  	<label>Name:</label> 
	  </div>

	  <input type='text' name= 'name'></input></br>
 	  
 	  <div class="col-25">
 	  <label>Comment: </label></br>
 	  </div>

 	  <div>
     	 <textarea rows="4" cols="55" name = "comment" placeholder="leave your comments here" required></textarea>
	  </div>      

      <br>
      <input class="submit" type="submit" name="Submit"></input>

</form>      
     