<h1>Please leave message</h1>
<form action="/comment" method='post'>
	  Name: <input type='text' name='name'></input></br>
 	  Comment: </br>
      	<textarea rows="4" cols="50" name = "comment">Leave your advice here </textarea>


</form>      
     
      
      <br>
      <input type='submit' name='submit'></input>
 </form>
