
		<div class = "login-box">
		<img src = "/images/loginbutton.png" width=10% class = "loginbutton">

		
		 <h2>Login Here </h2>
		 
		 <form action="/login" method="post" id="userlogin">
		 	
		 	<p>Username</p>
		 	<input type ="text" name = "username" placeholder = "Enter Username">
		 	<p>Password</p>
		 	<input type ="text" name = "password" placeholder = "Enter password">
		 	<input type = "submit" name = "submit" value = "Login">
		 </form>
	
		</div>





